<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
  <title>Meta Studios Inc</title>
  <meta name="description" content="Full stack data science, Brand Coaching, Design Thinking and other useful tricks.">
  <meta name="keywords" content="React.js Web Development Spark Apps Brand Coaching Design thinking consulting teaching instruction software development">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="stylesheets/style.css" type="text/css" /> -->
  <style>
    html,
    body {
        height: 100%;
        background-color: #FAFAFA;
    }
  </style>
</head>

<body>
  <div id="test-application">
    <%- reactOutput %>
  </div>
  <script src="./js/client.js"></script>
</body>

</html>
